@font-face {
	src: url("../fonts/custom fonts/Dense-Regular.otf");
	font-family: "dense";
}
@font-face {
	src: url("../fonts/custom fonts/FjallaOne-Regular.ttf");
	font-family: "fjalla-one";
}
@font-face {
	src: url("../fonts/custom fonts/Oswald-Regular.ttf");
	font-family: "oswald";
}
@font-face {
	src: url("../fonts/custom fonts/PT-Sans.ttf");
	font-family: "pt-sans";
}
@font-face {
	src: url("../fonts/custom fonts/Ubuntu.ttf");
	font-family: "ubuntu";
}
@font-face {
	src: url("../fonts/custom fonts/Roboto-Bold.ttf");
	font-family: "roboto-bold";
}
@font-face {
	src: url("../fonts/custom fonts/Roboto-BoldCondensed.ttf");
	font-family: "roboto-boldcondensed";
}
@font-face {
	src: url("../fonts/custom fonts/Roboto-Regular.ttf");
	font-family: "roboto-regular";
}
@font-face {
	src: url("../fonts/custom fonts/Bebas-Neue.ttf");
	font-family: "bebas-neue";
}
@font-face {
	src: url("../fonts/custom fonts/Helvetica.otf");
	font-family: "helvetica";
}
@font-face {
	src: url("../fonts/custom fonts/Code.otf");
	font-family: "code";
}
@font-face {
	src: url("../fonts/custom fonts/Rounded_Elegance.ttf");
	font-family: "rounded-elegance";
}
@font-face {
	src: url("../fonts/custom fonts/Chosence.otf");
	font-family: "chosence";
}
@font-face {
	src: url("../fonts/custom fonts/HelveticaNeueLightItalic.ttf");
	font-family: "helvetica-light-italic";
}
@font-face {
	src: url("../fonts/custom fonts/Brilliantte.ttf");
	font-family: "brilliantte";
}
@font-face {
	src: url("../fonts/custom fonts/DLO.otf");
	font-family: "dlo";
}
@font-face {
	src: url("../fonts/custom fonts/Timeless.ttf");
	font-family: "timeless";
}
@font-face {
	src: url("../fonts/custom fonts/steelfish.ttf");
	font-family: "steelfish";
}
@font-face {
	src: url("../fonts/custom fonts/SmallTypeWriting.ttf");
	font-family: "stw";
}
@font-face {
	src: url("../fonts/custom fonts/BoP.ttf");
	font-family: "bop";
}
@font-face {
	src: url("../fonts/custom fonts/Amarillo.ttf");
	font-family: "amarillo";
}
@font-face {
	src: url("../fonts/custom fonts/future.ttf");
	font-family: "future";
}
@font-face {
	src: url("../fonts/custom fonts/TLF.ttf");
	font-family: "tlf";
}
@font-face {
	src: url("../fonts/custom fonts/AwesomeSeason.ttf");
	font-family: "awesomeseason";
}